@font-face {
	font-family: 'Maison Mono';
	src: url('../fonts/MaisonMono-Italic.eot');
	src: url('../fonts/MaisonMono-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MaisonMono-Italic.woff') format('woff'),
		url('../fonts/MaisonMono-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Maison';
	src: url('../fonts/Maison-Bold.eot');
	src: url('Maison-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Maison-Bold.woff') format('woff'),
		url('../fonts/Maison-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Mono';
	src: url('../fonts/MaisonMono.eot');
	src: url('../fonts/MaisonMono.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MaisonMono.woff') format('woff'),
		url('../fonts/MaisonMono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maison';
	src: url('../fonts/Maison-Light.eot');
	src: url('../fonts/Maison-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Maison-Light.woff') format('woff'),
		url('../fonts/Maison-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Maison';
	src: url('../fonts/Maison.eot');
	src: url('../fonts/Maison.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Maison.woff') format('woff'),
		url('../fonts/Maison.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Mono';
	src: url('../fonts/MaisonMono-Bold.eot');
	src: url('../fonts/MaisonMono-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MaisonMono-Bold.woff') format('woff'),
		url('../fonts/MaisonMono-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Mono';
	src: url('../fonts/MaisonMono-Light.eot');
	src: url('../fonts/MaisonMono-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MaisonMono-Light.woff') format('woff'),
		url('../fonts/MaisonMono-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Maison';
	src: url('../fonts/Maison-Italic.eot');
	src: url('../fonts/Maison-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Maison-Italic.woff') format('woff'),
		url('../fonts/Maison-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
