@font-face {
    font-family: 'Maison';
    src: url('/assets/fonts/Maison-Light.woff2') format('woff2'),
        url('/assets/fonts/Maison-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Maison';
    src: url('/assets/fonts/Maison.woff2') format('woff2'),
        url('/assets/fonts/Maison.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Maison';
    src: url('/assets/fonts/Maison-Italic.woff2') format('woff2'),
        url('/assets/fonts/Maison-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Maison Mono';
    src: url('/assets/fonts/MaisonMono.woff2') format('woff2'),
        url('/assets/fonts/MaisonMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Maison';
    src: url('/assets/fonts/Maison-Bold.woff2') format('woff2'),
        url('/assets/fonts/Maison-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Maison Mono';
    src: url('/assets/fonts/MaisonMono-Italic.woff2') format('woff2'),
        url('/assets/fonts/MaisonMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Maison Mono';
    src: url('/assets/fonts/MaisonMono-Bold.woff2') format('woff2'),
        url('/assets/fonts/MaisonMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Maison Mono';
    src: url('/assets/fonts/MaisonMono-Light.woff2') format('woff2'),
        url('/assets/fonts/MaisonMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  